<ion-header>
  <ion-toolbar class="background-color">
     <ion-title class="title-align">
        Weather Forecast
     </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="hidecurrentLocationData">
     <ion-grid mode="md" lines="full" inset class="ion-no-margin ion-no-padding grid-margin" style="padding-top: 10px;">
        <ion-row class="align-text-center ion-padding">
           <ion-col>
              <ion-label class="font-size-l label-color"> {{ cityName }} </ion-label>
           </ion-col>
        </ion-row>
     </ion-grid>
     <ion-grid mode="md" lines="full" inset class="ion-no-margin ion-no-padding grid-margin" style="padding-top: 10px;">
        <ion-row>
           <ion-col class="ion-text-center">
              <ion-label class="label-color" style="font-size: 20px;">Sunrise</ion-label>
              <br>
              <ion-label class="label-color-yellow" style="font-size: 11px;">{{ Sunrise }} </ion-label>
           </ion-col>
           <ion-col class="ion-text-center">
              <ion-label class="label-color" style="font-size: 20px;">Sunset</ion-label>
              <br>
              <ion-label class="label-color-yellow" style="font-size: 11px;">{{ Sunset }} </ion-label>
           </ion-col>
        </ion-row>
     </ion-grid>
     <ion-grid mode="md" lines="full" class="ion-no-margin grid-margin">
        <ion-row>
           <ion-col class="ion-text-left">
              <ion-label class="label-color" style="font-size: 20px;">{{ weatherTime }} </ion-label>
           </ion-col>
           <ion-col class="ion-text-right">
              <ion-label class="label-color" style="font-size: 20px;">{{ weatherType }} </ion-label>
              <img src="../../assets/icon/partly_cloudy.png" class="image-size" />
           </ion-col>
        </ion-row>
        <ion-row>
           <ion-col>
              <ion-label class="font-size-s label-color ion-text-left">Wind</ion-label>
              <br>
              <ion-label class="label-color-yellow ion-text-left" style="font-size: 10px;">{{ Wind }} </ion-label>
           </ion-col>
           <ion-col>
              <ion-label class="font-size-s label-color ion-text-left">Humudity</ion-label>
              <br>
              <ion-label class="label-color-yellow ion-text-left" style="font-size: 10px;">{{ Humidity }} </ion-label>
           </ion-col>
           <ion-col>
              <ion-label class="font-size-s label-color ion-text-left">Temperature</ion-label>
              <br>
              <ion-label class="label-color-yellow ion-text-left" style="font-size: 10px;">{{ Temperature }} </ion-label>
           </ion-col>
        </ion-row>
     </ion-grid>
  </div>
</ion-content>